src/simkit/xml/simkit.dtd

<!-- simkit.dtd	
        
       	based upon parts of LEGO.dtd
 
	1.  Useful for establishing root and content model. 
	2.  DTD can be used to autogenerate Schema to which restrictions
	can then be applied, if needed. See trang.jar
	3.  No tools go from Schema to DTD, however DTD is 
	used to autogenerate SAX parser code within netbeans.
        4.  DOM scanner autogenerated from DTD.
-->


<!ENTITY % VariableDeclarations " State | Parameter ">
<!ENTITY % EventGraph " (%VariableDeclarations;)* , (Event)+ " >
<!ENTITY % Connectors " Schedule | Cancel "> 
 
<!-- AKA LEGO -->
<!ELEMENT SimkitModule ( Comment*, %EventGraph; ) >
<!ATTLIST SimkitModule
        name            CDATA   #REQUIRED
	version		CDATA	#REQUIRED
>

<!ELEMENT Comment ( #PCDATA ) >

<!ELEMENT State  ( Comment )* >
<!ATTLIST State
	type        CDATA	#REQUIRED
	name        ID  	#REQUIRED
        shortName   CDATA       #REQUIRED
>

<!ELEMENT Parameter ( Comment )* >
<!ATTLIST Parameter
	type        CDATA	#REQUIRED
	name        CDATA	#REQUIRED
        shortName   CDATA       #REQUIRED
>

<!ELEMENT Event	( Comment*, StateTransition*, ( %Connectors; )+ ) > 
<!ATTLIST Event
	name		ID	#REQUIRED
>

<!ELEMENT StateTransition EMPTY >
<!ATTLIST StateTransition
        state           IDREF   #REQUIRED
        transition      CDATA   #REQUIRED
>
  

<!ELEMENT Schedule (Parameter)* >
<!ATTLIST Schedule
	delay	CDATA	"0.0"
	event	IDREF	#REQUIRED
	condition CDATA	#IMPLIED 	
>

<!ELEMENT Cancel (Parameter)* >
<!ATTLIST Cancel
	delay	CDATA	"0.0"
	event	IDREF	#REQUIRED
	condition CDATA	#IMPLIED 	
>
