src/simkit/xml/simkit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  simkit.dtd	
  
  based upon parts of LEGO.dtd
  
  1.  Useful for establishing root and content model. 
  2.  DTD can be used to autogenerate Schema to which restrictions
  can then be applied, if needed. See trang.jar
  3.  No tools go from Schema to DTD, however DTD is 
  used to autogenerate SAX parser code within netbeans.
  4.  DOM scanner autogenerated from DTD.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           elementFormDefault="qualified">
  <xs:element name="VariableDeclarations" abstract="true"/>
  <xs:group name="EventGraph">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="VariableDeclarations"/>
      <xs:element maxOccurs="unbounded" ref="Event"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="EdgeType" abstract="true"/>
  <xs:element name="TransitionType" abstract="true"/>
  <xs:complexType name="TransitionType">
    <xs:sequence>
      <xs:element ref="TransitionType"/>
    </xs:sequence>
  </xs:complexType>
  <!-- AKA LEGO -->
  <xs:element name="SimkitModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Comment"/>
        <xs:group ref="EventGraph"/>
      </xs:sequence>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="version" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Comment" type="xs:string"/>
  <xs:element name="StateVariable" substitutionGroup="VariableDeclarations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Comment"/>
      </xs:sequence>
      <xs:attribute name="type" use="required"/>
      <xs:attribute name="name" use="required" type="xs:ID"/>
      <xs:attribute name="shortName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Argument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Comment"/>
      </xs:sequence>
      <xs:attribute name="type" use="required"/>
      <xs:attribute name="name" use="required" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parameter" substitutionGroup="VariableDeclarations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Comment"/>
      </xs:sequence>
      <xs:attribute name="type" use="required"/>
      <xs:attribute name="name" use="required" type="xs:ID"/>
      <xs:attribute name="shortName" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocalVariable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Comment"/>
      </xs:sequence>
      <xs:attribute name="type" use="required"/>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="value" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Event">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Comment"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Argument"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="LocalVariable"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="StateTransition"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="EdgeType"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operation" substitutionGroup="TransitionType">
    <xs:complexType>
      <xs:attribute name="method" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Assignment" substitutionGroup="TransitionType">
    <xs:complexType>
      <xs:attribute name="value" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="StateTransition">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="TransitionType">
          <xs:attribute name="state" use="required" type="xs:IDREF"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="EdgeParameter">
    <xs:complexType>
      <xs:attribute name="value" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Schedule" substitutionGroup="EdgeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="EdgeParameter"/>
      </xs:sequence>
      <xs:attribute name="delay" default="0.0"/>
      <xs:attribute name="event" use="required" type="xs:IDREF"/>
      <xs:attribute name="condition"/>
      <xs:attribute name="priority" default="0.0"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cancel" substitutionGroup="EdgeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="EdgeParameter"/>
      </xs:sequence>
      <xs:attribute name="event" use="required" type="xs:IDREF"/>
      <xs:attribute name="condition"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
