src/simkit/xml/simkit.dtd

<!-- simkit.dtd	
        
       	based upon parts of LEGO.dtd
 
	1.  Useful for establishing root and content model. 
	2.  DTD can be used to autogenerate Schema to which restrictions
	can then be applied, if needed. See trang.jar
	3.  No tools go from Schema to DTD, however DTD is 
	used to autogenerate SAX parser code within netbeans.
        4.  DOM scanner autogenerated from DTD.
-->


<!ENTITY % VariableDeclarations " StateVariable | Parameter " >
<!ENTITY % EventGraph " (%VariableDeclarations;)* , (Event)+ " >
<!ENTITY % EdgeType " Schedule | Cancel " >
<!ENTITY % TransitionType " Assignment | Operation " > 
 
<!-- AKA LEGO -->
<!ELEMENT SimkitModule ( Comment*, %EventGraph; ) >
<!ATTLIST SimkitModule
        name            CDATA   #REQUIRED
	version		CDATA	#REQUIRED
>

<!ELEMENT Comment ( #PCDATA ) >

<!ELEMENT StateVariable  ( Comment )* >
<!ATTLIST StateVariable
	type        CDATA	#REQUIRED
	name        ID  	#REQUIRED
        shortName   CDATA       #IMPLIED
>

<!ELEMENT Argument ( Comment )* >
<!ATTLIST Argument
        type        CDATA       #REQUIRED
        name        ID          #REQUIRED
>

<!ELEMENT Parameter ( Comment )* >
<!ATTLIST Parameter
	type        CDATA	#REQUIRED
	name        ID  	#REQUIRED
        shortName   CDATA       #REQUIRED
>

<!ELEMENT LocalVariable ( Comment )* >
<!ATTLIST LocalVariable
        type        CDATA       #REQUIRED
        name        CDATA       #REQUIRED
        value       CDATA       #REQUIRED
>

<!ELEMENT Event	( Comment*, Argument*, LocalVariable*, StateTransition*, ( %EdgeType; )* ) > 
<!ATTLIST Event
	name		ID	#REQUIRED
>

<!ELEMENT Operation ( #PCDATA ) >
<!ATTLIST Operation
        method  CDATA   #REQUIRED   
>

<!ELEMENT Assignment ( #PCDATA ) >
<!ATTLIST Assignment
        value   CDATA   #REQUIRED
>

<!ELEMENT StateTransition ( %TransitionType; ) >
<!ATTLIST StateTransition
        state           IDREF   #REQUIRED
>
  
<!ELEMENT EdgeParameter EMPTY >
<!ATTLIST EdgeParameter
        value   CDATA   #REQUIRED
>

<!ELEMENT Schedule ( EdgeParameter )* >
<!ATTLIST Schedule
	delay	CDATA	"0.0"
	event	IDREF	#REQUIRED
	condition CDATA	#IMPLIED 
        priority  CDATA  "0.0"	
>

<!ELEMENT Cancel ( EdgeParameter )* >
<!ATTLIST Cancel
	event	IDREF	#REQUIRED
	condition CDATA	#IMPLIED 	
>
